@charset "UTF-8";
/** medias queryes */
/** variaveis globais */
.text-right {
  text-align: right; }

.clear {
  clear: both; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-box: box-sizing;
  background-color: #dfdfdf;
  font-family: "Open Sans", sans-serif; }

.left {
  float: left; }

.right {
  float: right; }

.w100 {
  width: 100%; }

.w50 {
  width: 49%; }

.w25 {
  width: 25%; }

.container {
  padding: 0 2%; }

/* sess├úo login */
section.login {
  background-image: url("../images/fundo1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center; }
  section.login .wraper-login {
    max-width: 500px;
    background-color: rgba(0, 188, 212, 0.2);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    -moz-box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.25);
    -webkit-box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.25);
    -o-box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.25);
    -ms-box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.25);
    box-shadow: 6px 6px 0px 0px rgba(100, 100, 100, 0.25);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    section.login .wraper-login p {
      font-size: 20px;
      color: #FFC107;
      margin-top: 20px; }
    section.login .wraper-login form {
      padding: 20px; }
      section.login .wraper-login form input[type="text"], section.login .wraper-login form input[type="password"] {
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #dfdfdf;
        border-radius: 8px;
        outline: none;
        padding-left: 8px;
        font-size: 18px;
        color: #757575;
        margin-top: 20px; }
      section.login .wraper-login form input[type="submit"] {
        margin: 20px auto;
        display: block;
        width: 200px;
        height: 40px;
        background-color: #FFC107;
        border: 0;
        border-radius: 8px;
        font-size: 18px;
        color: #FFFFFF; }
        section.login .wraper-login form input[type="submit"]:hover {
          background-color: #eeb007;
          border-radius: 8px; }
      section.login .wraper-login form a {
        margin-top: 0px !important;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        color: #D32F2F;
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 8px; }
        section.login .wraper-login form a:hover {
          text-decoration: none;
          background-color: #D32F2F;
          font-size: 15px;
          color: #FFFFFF; }
  section.login img {
    position: absolute;
    width: 300px;
    top: 20px;
    left: 20px; }

.form-group-login {
  margin: 10px 2%;
  text-align: right;
  font-size: 18px;
  color: #212121; }
  .form-group-login span {
    padding-right: 10px; }

.erro-box {
  width: 100%;
  background-color: #D32F2F;
  padding: 5px;
  font-size: 18px;
  color: #FFFFFF; }
  .erro-box i {
    margin-right: 5px; }

/** menu */
.menu-aside {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  background-color: #757575;
  position: fixed;
  left: 0;
  top: 0; }
  .menu-aside .menu-aside-wrapper {
    width: 300px; }
  .menu-aside .box-usuario {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px; }
    .menu-aside .box-usuario .imagem-usuario img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid #212121; }
    .menu-aside .box-usuario .avatar-usuario {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 3px solid #212121;
      display: inline-block;
      text-align: left; }
      .menu-aside .box-usuario .avatar-usuario i {
        font-size: 50px;
        color: white;
        position: relative;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .menu-aside .box-usuario .nome-usuario {
      text-align: center;
      font-size: 16px;
      color: #FFC107;
      font-weight: 300; }
      .menu-aside .box-usuario .nome-usuario p {
        margin-top: 2px; }
        .menu-aside .box-usuario .nome-usuario p a {
          font-size: 16px;
          color: #FFC107; }
          .menu-aside .box-usuario .nome-usuario p a:hover {
            text-decoration: none; }
  .menu-aside .item-menu {
    width: 100%;
    margin-top: 20px; }
    .menu-aside .item-menu h2 {
      font-size: 20px;
      color: #FFFFFF;
      background-color: #212121;
      padding: 10px;
      margin: 0; }
    .menu-aside .item-menu a {
      font-size: 18px;
      color: #FFFFFF;
      display: block;
      padding: 5px;
      border-bottom: 1px solid #dfdfdf; }
      .menu-aside .item-menu a:hover {
        text-decoration: none;
        background-color: #dfdfdf;
        font-size: 18px;
        color: #757575; }

header {
  width: calc(100% - 300px);
  left: 300px;
  position: relative;
  padding: 10px 2%;
  background-color: #0097A7; }
  header img {
    width: 180px;
    margin-left: 30px;
    float: left; }
  header .loggout {
    float: right; }
    header .loggout a {
      font-size: 23px;
      color: #FFFFFF; }
      header .loggout a:hover {
        text-decoration: none;
        color: #dfdfdf; }
    header .loggout a span {
      margin-left: 8px; }
  header .menu-btn {
    float: left;
    font-size: 23px;
    color: white; }
    header .menu-btn i {
      cursor: pointer; }
    header .menu-btn a {
      color: white; }

.conteudo {
  width: calc(100% - 300px);
  min-height: 100vh;
  position: relative;
  left: 300px;
  padding: 10px 10px 10px 20px; }

/** footer */
footer {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  bottom: 0;
  height: auto;
  background-color: #0097A7;
  border-top: 2px solid white;
  padding: 20px 2%;
  text-align: center; }
  footer p {
    font-size: 20px;
    color: #FFFFFF; }

/** deshboard-painel */
.box-content {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center; }
  .box-content h2 {
    font-size: 25px;
    color: #212121;
    margin: 10px 0; }
  .box-content i {
    margin-right: 10px; }
  .box-content .wraper-form {
    margin: 20px 2%; }
    .box-content .wraper-form .wraper-text {
      max-width: 800px;
      margin: 10px auto; }
    .box-content .wraper-form label {
      font-size: 18px;
      color: #757575;
      display: block;
      text-align: left; }
    .box-content .wraper-form form {
      text-align: center;
      padding: 10px;
      border: 2px solid #dfdfdf; }
    .box-content .wraper-form input[type="text"], .box-content .wraper-form input[type="password"], .box-content .wraper-form select, .box-content .wraper-form input[type="file"], .box-content .wraper-form input[type="date"], .box-content .wraper-form #input, .box-content .wraper-form input[type="number"] {
      width: 100%;
      height: 40px;
      max-width: 800px;
      border-bottom: 1 solid #dfdfdf;
      outline: none;
      padding-left: 8px;
      font-size: 18px;
      color: #757575;
      max-width: 800px;
      margin-top: 10px;
      display: inline-block; }
    .box-content .wraper-form input[type="submit"] {
      width: 200px;
      height: 40px;
      background-color: #0097A7;
      border: 0;
      border-radius: 8px;
      margin-top: 20px;
      font-size: 18px;
      color: #FFFFFF; }
      .box-content .wraper-form input[type="submit"]:hover {
        background-color: #00BCD4;
        border-radius: 8px; }

/* home - page */
.apresentacao h2 {
  font-size: 24px;
  color: #212121;
  margin: 20px 0; }
.apresentacao p {
  font-size: 20px;
  color: #757575; }
.apresentacao i {
  font-size: 20px;
  color: #FFC107; }

/** formul├írios */
.box-metrica {
  margin-top: 20px;
  width: 100%;
  display: flex;
  padding: 10px;
  text-align: center; }
  .box-metrica h2 {
    font-size: 26px;
    color: #FFFFFF; }
  .box-metrica p {
    font-size: 20px;
    color: #FFFFFF; }
  .box-metrica .box-metrica-single {
    width: 30%;
    margin: 0 auto; }
    .box-metrica .box-metrica-single:nth-of-type(1) {
      background-color: #3949ab; }
    .box-metrica .box-metrica-single:nth-of-type(2) {
      background-color: #ef5350; }
    .box-metrica .box-metrica-single:nth-of-type(3) {
      background-color: #4caf50; }

/** grafico dashboard-financeiro* */
.pesquisar-item form {
  padding: 10px 0;
  width: 100%; }
.pesquisar-item input {
  width: 40%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  outline: none;
  padding-left: 8px;
  font-size: 18px;
  color: #757575;
  min-width: 300px;
  margin-top: 20px; }
.pesquisar-item h2 {
  display: inline-block;
  margin: 0 10px; }

.grafico .dados-grafico {
  width: 100%;
  margin: 0 auto; }
  .grafico .dados-grafico .wrapper-grafico {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center; }
  .grafico .dados-grafico .barra-grafico {
    width: 60px;
    height: 200px;
    display: inline-block;
    position: relative; }
    .grafico .dados-grafico .barra-grafico .res-entrada {
      background-color: #3949ab;
      width: 100%;
      position: absolute;
      bottom: 0; }
    .grafico .dados-grafico .barra-grafico .res-saida {
      background-color: #ef5350;
      width: 100%;
      position: absolute;
      bottom: 0; }
    .grafico .dados-grafico .barra-grafico .res-saldo {
      background-color: #4caf50;
      width: 100%;
      position: absolute;
      bottom: 0; }
  .grafico .dados-grafico p {
    text-align: center;
    font-size: 20px;
    color: #212121;
    background-color: #dfdfdf; }

/** alertas */
.box-alerta {
  width: 100%;
  height: 40px;
  text-align: center; }

.sucesso {
  background-color: #4caf50;
  padding: 5px;
  font-size: 18px;
  color: #FFFFFF; }
  .sucesso i {
    margin-right: 5px; }

.erro {
  background-color: #D32F2F;
  padding: 5px;
  font-size: 18px;
  color: #FFFFFF; }
  .erro i {
    margin-right: 5px; }

/** tabela responsiva */
.table-responsive {
  margin: 20px auto;
  max-width: 1280px;
  overflow-x: hidden; }
  .table-responsive .row {
    font-size: 20px;
    color: #757575;
    padding: 2px; }
    .table-responsive .row:nth-of-type(1) {
      font-weight: bold;
      font-size: 20px;
      color: #FFFFFF;
      border-bottom: 3px solid #dfdfdf;
      background-color: #0097A7; }
  .table-responsive .col {
    float: left;
    width: 33%; }

/** parametrizaca usuarios grupos */
section.cadastrar {
  width: 100%; }

.wraper-table {
  overflow-x: auto; }

table {
  width: 100%;
  margin: 20px auto;
  max-width: 1280px; }
  table th {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid #dfdfdf;
    background-color: #0097A7;
    text-align: center; }
  table td {
    font-size: 20px;
    color: #757575;
    padding: 2px;
    border-bottom: 1px solid #dfdfdf; }
  table a i {
    cursor: pointer;
    text-align: center; }
  table .fa-pencil {
    color: #FFC107 !important; }
  table .fa-times {
    color: #D32F2F !important; }

.paginacao a {
  padding: 5px;
  border: 2px solid #dfdfdf;
  margin: 0 5px;
  font-size: 20px; }
  .paginacao a:hover {
    text-decoration: none; }

.pagina-active {
  background-color: #dfdfdf; }

.menu-active {
  background-color: #3d3d3d; }
  .menu-active::before {
    content: "> "; }

/*editar usu├írios */
.pesquisar-item {
  display: none; }

.btn-pesq {
  float: right;
  font-size: 26px;
  padding-right: 20px;
  cursor: pointer;
  color: #0097A7; }
  .btn-pesq:hover {
    color: #00BCD4; }

.fa-arrow-circle-left {
  padding-left: 30px;
  font-size: 30px;
  color: #0097A7; }
  .fa-arrow-circle-left:hover {
    color: #00BCD4; }

/** lan├ºamentos */
.lancamentos {
  width: 100%;
  display: flex;
  padding: 0 2%;
  margin: 30px 0; }
  .lancamentos .wraper-lancamentos {
    width: 50%;
    padding: 0 20px;
    text-align: center; }
    .lancamentos .wraper-lancamentos .single-lancamentos {
      padding: 40px;
      min-width: 300px;
      background-color: #00BCD4;
      display: inline-block; }
      .lancamentos .wraper-lancamentos .single-lancamentos:hover {
        background-color: #0097A7;
        -moz-box-shadow: "6px,6px,6px";
        -webkit-box-shadow: "6px,6px,6px";
        -o-box-shadow: "6px,6px,6px";
        -ms-box-shadow: "6px,6px,6px";
        box-shadow: "6px,6px,6px"; }
      .lancamentos .wraper-lancamentos .single-lancamentos i {
        color: #dfdfdf;
        font-size: 30px; }

/** lan├ºamentos single */
.wraper-data {
  max-width: 800px;
  margin: 10px auto;
  text-align: center; }
  .wraper-data input[type="date"] {
    width: 47% !important; }

/**media queryes* */
@media only screen and (max-width: 1024px) {
  .lancamentos {
    flex-direction: column; }
    .lancamentos .wraper-lancamentos {
      margin: 20px 0;
      width: 100%; } }
@media only screen and (max-width: 900px) {
  .left, .right {
    float: none;
    display: block; }

  table {
    min-width: 800px; }

  table tr th, table tr td {
    font-size: 16px !important; }

  .box-content h2 {
    font-size: 18px; }

  .wraper-form input[type='text'], .wraper-form select {
    font-size: 16px !important;
    height: 36px !important; }
    .wraper-form input[type='text'] label, .wraper-form select label {
      font-size: 14px !important; } }
@media only screen and (max-width: 768px) {
  .box-usuario {
    max-width: 180px; }
    .box-usuario .nome-usuario p {
      max-width: 180px; }

  .wraper-login {
    width: 98%; }

  .conteudo {
    width: 100%;
    left: 0; }

  .menu-aside {
    width: 0;
    display: none; }

  header {
    width: 100%;
    left: 0; }
    header img {
      display: none; }

  footer {
    width: 100%;
    left: 0;
    font-size: 12px;
    color: #FFFFFF; }

  .box-metrica {
    flex-direction: column; }
    .box-metrica .box-metrica-single {
      width: 100%;
      margin: 10px 0; } }
@media only screen and (max-width: 480px) {
  section.login img {
    width: 200px; } }

/*# sourceMappingURL=style.css.map */
