@import colors

=text-claro($tam)
	font-size: $tam
	color: $primary-color-text

=text-accent($tam)
	font-size: $tam
	color: $accent-color

=text-escuro($tam)
	font-size: $tam
	color: $secondary-text-color

=text-atention($tam)
	font-size: $tam
	color: $text-atention

=box-shadow($val)
	-moz-box-shadow: $val
	-webkit-box-shadow: $val
	-o-box-shadow: $val
	-ms-box-shadow: $val
	box-shadow: $val

=transform-translate($val1 , $val2)
	-moz-transform: translate($val1 , $val2)
	-webkit-transform: translate($val1 , $val2)
	-o-transform: translate($val1 , $val2)
	-ms-transform: translate($val1 , $val2)
	transform: translate($val1 , $val2)

/** medias queryes **/

@mixin tela_media
	@media only screen and(max-width:1200px)
		@content

@mixin phone
	@media only screen and(max-width:768px)
		@content

@mixin phone-pq
	@media only screen and(max-width:480px)
		@content