@import colors

=text-claro($tam)
	font-size: $tam
	color: $primary-color-text

=text-accent($tam)
	font-size: $tam
	color: $accent-color

=text-escuro($tam)
	font-size: $tam
	color: $secondary-text-color

=text-escuro2($tam)
	font-size: $tam
	color: $primary-text-color

=text-atention($tam)
	font-size: $tam
	color: $text-atention

=box-shadow($val)
	-moz-box-shadow: $val
	-webkit-box-shadow: $val
	-o-box-shadow: $val
	-ms-box-shadow: $val
	box-shadow: $val

=input-norm($val)
	width: $val
	height: 40px
	background-color: rgba(255,255,255,0.5)
	border: 1px solid $divider-color
	border-radius: 8px
	outline: none
	padding-left: 8px
	+text-escuro(18px)

=input-norm1($val)
	width: $val
	height: 40px
	max-width: 800px
	border-bottom: 1 solid $divider-color
	outline: none
	padding-left: 8px
	+text-escuro(18px)

=input-norm2($val)
	width: $val
	height: 40px
	background-color: $accent-color
	border: 0
	border-radius: 8px
	+text-claro(18px)

	&:hover
		background-color: $accent-color2
		border-radius: 8px

=input-norm3($val)
	width: $val
	height: 40px
	background-color: $primary-color-dark
	border: 0
	border-radius: 8px
	+text-claro(18px)

	&:hover
		background-color: $primary-color
		border-radius: 8px

=transform-translate($val1 , $val2)
	-moz-transform: translate($val1 , $val2)
	-webkit-transform: translate($val1 , $val2)
	-o-transform: translate($val1 , $val2)
	-ms-transform: translate($val1 , $val2)
	transform: translate($val1 , $val2)

/** medias queryes **/

@mixin tela_media
	@media only screen and(max-width:900px)
		@content

@mixin phone
	@media only screen and(max-width:768px)
		@content

@mixin phone-pq
	@media only screen and(max-width:480px)
		@content