@import colors
@import mixins

/** variaveis globais **/

.text-right
	text-align: right

.clear
	clear: both

body, html
	height: 100%
	width: 100%
	margin: 0
	padding: 0
	border-box: box-sizing
	background-color: $divider-color
	font-family: 'Open Sans', sans-serif

.left
	float: left

.right
	float: right

.w100
	width: 100%

.w50
	width: 49% 

.w25
	width: 25%

.container
	padding: 0 2%

/* sessão login */

section.login
	background-image: url("../images/fundo1.jpg")
	background-size: cover
	width: 100%
	height: 100vh
	text-align: center

	.wraper-login
		max-width: 500px
		background-color: $primary-color-rgba
		display: inline-block
		position: absolute
		top: 50%
		left: 50%
		border-radius: 8px
		+box-shadow(6px 6px 0px 0px rgba(100, 100, 100, 0.25))
		+transform-translate(-50%,-50%)

		p
			+text-accent(20px)
			margin-top: 20px

		form
			padding: 20px

			input[type="text"], input[type="password"]
				+input-norm(100%)
				margin-top: 20px

			input[type="submit"]
				margin: 20px auto
				display: block
				+input-norm2(200px)


			a
				margin-top: 0px !important
				cursor: pointer
				display: inline-block
				+text-atention(15px)
				border: 1px solid #fff
				padding: 5px
				border-radius: 8px

				&:hover
					text-decoration: none
					background-color: $text-atention
					+text-claro(15px)

	img
		position: absolute
		width: 300px
		top: 20px
		left: 20px

.form-group-login
	margin: 10px 2%
	text-align: right
	+text-escuro2(18px)

	span
		padding-right: 10px

.erro-box
	width: 100%
	background-color: $text-atention
	padding: 5px
	+text-claro(18px)

	i
		margin-right: 5px


/** menu **/

.menu-aside
	overflow-y: auto
	overflow-x: hidden
	height: 100vh
	background-color: $secondary-text-color
	position: fixed
	left: 0
	top: 0
	
	.menu-aside-wrapper
		width: 300px

	.box-usuario
		text-align: center
		+text-claro(20px)
		padding: 10px

		.imagem-usuario	img
			width: 110px
			height: 110px
			border-radius: 50%
			border: 3px solid $primary-text-color

		.avatar-usuario
			width: 110px
			height: 110px
			border-radius: 50%
			border: 3px solid $primary-text-color
			display: inline-block
			text-align: left

			i
				font-size: 50px
				color: white
				position: relative
				top: 50%
				left: 50%
				+transform-translate(-50%,-50%)

		.nome-usuario
			text-align: center
			+text-accent(16px)
			font-weight: 300

			p
				margin-top: 2px

				a
					+text-accent(16px)

					&:hover
						text-decoration: none
	


	.item-menu
		width: 100%
		margin-top: 20px

		h2
			+text-claro(20px)
			background-color: $primary-text-color
			padding: 10px
			margin: 0

		a
			+text-claro(18px)
			display: block
			padding: 5px
			border-bottom: 1px solid $divider-color

			&:hover
				text-decoration: none
				background-color: $divider-color
				+text-escuro(18px)



header
	width: calc(100% - 300px)
	left: 300px
	position: relative
	padding: 10px 2%
	background-color: $primary-color-dark
	


	img
		width: 180px
		margin-left: 30px
		float: left
	
	.loggout
		float: right

		a
			+text-claro(23px)

			&:hover
				text-decoration: none
				color: $divider-color

		a span
			margin-left: 8px

	.menu-btn
		float: left
		font-size: 23px
		color: white

		i
			cursor: pointer

		a
			color: white


.conteudo
	width: calc(100% - 300px)
	min-height: 100vh
	position: relative
	left: 300px
	padding: 10px


/** footer **/

footer
	width: calc(100% - 300px)
	position: relative
	left: 300px
	bottom: 0 
	height: auto
	background-color: $primary-color-dark
	border-top: 2px solid white
	padding: 20px 2%
	text-align: center

	p
		+text-claro(20px)

/** deshboard-painel **/

.box-content
	background-color: white
	padding: 10px
	margin-bottom: 20px
	text-align: center

	h2
		+text-escuro2(25px)
		margin: 10px 0

	i
		margin-right: 10px

	.wraper-form
		margin: 20px 2%

		.wraper-text
			max-width: 800px
			margin: 10px auto


		label
			+text-escuro(18px)
			display: block
			text-align: left

		form
			text-align: center
			padding: 10px
			border: 2px solid $divider-color

		input[type="text"] , input[type="password"] , select , input[type="file"]
			+input-norm1(100%)
			max-width: 800px
			margin-top: 10px
			display: inline-block


		input[type="submit"]
			+input-norm3(200px)

/* home - page */

.apresentacao
	h2
		+text-escuro2(24px)
		margin: 20px 0

	p
		+text-escuro(20px)
	
	i
		+text-accent(20px)
/** formulários **/



.box-metrica
	margin-top: 20px 
	width: 100%
	display: flex
	padding: 10px
	text-align: center

	h2
		+text-claro(26px)

	p
		+text-claro(20px)

	.box-metrica-single 
		width: 30%
		margin: 0 auto

		&:nth-of-type(1)
			background-color: #3949ab

		&:nth-of-type(2)
			background-color: #ef5350

		&:nth-of-type(3)
			background-color: #4caf50

/** alertas **/

.box-alerta
	width: 100%
	height: 40px

.sucesso
	background-color: $text-sucess
	padding: 5px
	+text-claro(18px)

	i
		margin-right: 5px

.erro
	background-color: $text-atention
	padding: 5px
	+text-claro(18px)

	i
		margin-right: 5px

/** tabela responsiva **/

.table-responsive
	margin: 20px auto
	max-width: 1280px
	overflow-x: hidden

	.row
		+text-escuro(20px)
		padding: 2px

		&:nth-of-type(1)
			font-weight: bold
			+text-claro(20px)
			border-bottom: 3px solid $divider-color
			background-color: $primary-color-dark

			
	.col
		float: left
		width: 33%

/** parametrizaca usuarios grupos **/

section.cadastrar
	width: 100%

.wraper-table
	overflow-x: auto

table
	width: 100%
	margin: 20px auto
	max-width: 1280px

	th
		font-weight: bold
		+text-claro(20px)
		border-bottom: 3px solid $divider-color
		background-color: $primary-color-dark
		text-align: center

	td
		+text-escuro(20px)
		padding: 2px
		border-bottom: 1px solid $divider-color

	a i
		cursor: pointer
		text-align: center

	.fa-pencil
		color: $accent-color !important

	.fa-times
		color: $text-atention !important

.paginacao a
	padding: 5px
	border: 2px solid $divider-color
	margin: 0 5px
	font-size: 20px

	&:hover
		text-decoration: none

.pagina-active
	background-color: $divider-color

.menu-active
	background-color: #3d3d3d

	&::before
		content: '> '


/*editar usuários */

.pesquisar-usuario
	display: none

.btn-pesq
	float: right
	font-size: 26px
	padding-right: 20px
	cursor: pointer
	color: $primary-color-dark

	&:hover
		color: $primary-color


.fa-arrow-circle-left
	padding-left: 30px
	font-size: 30px
	color: $primary-color-dark

	&:hover
		color: $primary-color

/**media queryes**/

@include tela-media
	.left, .right
		float: none
		display: block

	table
		min-width: 800px

	table tr th, table tr td
		font-size: 16px !important

	.box-content h2
		font-size: 18px

	.wraper-form input[type='text'], .wraper-form select
		font-size: 16px !important
		height: 36px !important

		label
			font-size: 14px !important


@include phone

	.conteudo
		width: 100%
		left: 0

	.menu-aside
		width: 0
		display: none
	
	header
		width: 100%
		left: 0

		img
			display: none

	footer
		width: 100%
		left: 0
		+text-claro(12px)

	.box-metrica
		flex-direction: column

		.box-metrica-single 
			width: 100%
			margin: 10px 0


@include phone-pq
	section.login img
		width: 200px